html * {
    font-family: 'Kumbh Sans';
}

.CustomHeader {
    text-align: right;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 100px;
    font-weight: 900;
    
    color: rgba(221, 221, 221, 0.7);
    position: sticky;
    top: 0;
}

.TopBar {
    height: 80px;
    background-color: rgba(221, 221, 221, 0.1);
    filter: blur(10px);
}

.ReturnButtonWrapper {
    padding-left: 10px;
    margin: auto;
    top: 21px;
    position: absolute;
}

.Bg {
    background-color: brown;
    height: 100vh;
}

.FilterWrapper {

    padding-left: 40px;
}

.btn {
    margin-right: 10px;
}